.clearfix::before,
.clearfix::after,
.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after,
.row::before,
.row::after
{
    display: table;

    content: ' ';
}
.clearfix::after,
.container::after,
.container-fluid::after,
.row::after
{
    clear: both;
}
*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.container
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px)
{
    .container
    {
        width: 750px;
    }
}
@media (min-width: 992px)
{
    .container
    {
        width: 970px;
    }
}
@media (min-width: 1200px)
{
    .container
    {
        width: 1170px;
    }
}
.container-fluid
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.row
{
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12
{
    position: relative;

    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12
{
    float: left;
}
.col-xs-12
{
    width: 100%;
}
.col-xs-11
{
    width: 91.66666667%;
}
.col-xs-10
{
    width: 83.33333333%;
}
.col-xs-9
{
    width: 75%;
}
.col-xs-8
{
    width: 66.66666667%;
}
.col-xs-7
{
    width: 58.33333333%;
}
.col-xs-6
{
    width: 50%;
}
.col-xs-5
{
    width: 41.66666667%;
}
.col-xs-4
{
    width: 33.33333333%;
}
.col-xs-3
{
    width: 25%;
}
.col-xs-2
{
    width: 16.66666667%;
}
.col-xs-1
{
    width: 8.33333333%;
}
.col-xs-pull-12
{
    right: 100%;
}
.col-xs-pull-11
{
    right: 91.66666667%;
}
.col-xs-pull-10
{
    right: 83.33333333%;
}
.col-xs-pull-9
{
    right: 75%;
}
.col-xs-pull-8
{
    right: 66.66666667%;
}
.col-xs-pull-7
{
    right: 58.33333333%;
}
.col-xs-pull-6
{
    right: 50%;
}
.col-xs-pull-5
{
    right: 41.66666667%;
}
.col-xs-pull-4
{
    right: 33.33333333%;
}
.col-xs-pull-3
{
    right: 25%;
}
.col-xs-pull-2
{
    right: 16.66666667%;
}
.col-xs-pull-1
{
    right: 8.33333333%;
}
.col-xs-pull-0
{
    right: auto;
}
.col-xs-push-12
{
    left: 100%;
}
.col-xs-push-11
{
    left: 91.66666667%;
}
.col-xs-push-10
{
    left: 83.33333333%;
}
.col-xs-push-9
{
    left: 75%;
}
.col-xs-push-8
{
    left: 66.66666667%;
}
.col-xs-push-7
{
    left: 58.33333333%;
}
.col-xs-push-6
{
    left: 50%;
}
.col-xs-push-5
{
    left: 41.66666667%;
}
.col-xs-push-4
{
    left: 33.33333333%;
}
.col-xs-push-3
{
    left: 25%;
}
.col-xs-push-2
{
    left: 16.66666667%;
}
.col-xs-push-1
{
    left: 8.33333333%;
}
.col-xs-push-0
{
    left: auto;
}
.col-xs-offset-12
{
    margin-left: 100%;
}
.col-xs-offset-11
{
    margin-left: 91.66666667%;
}
.col-xs-offset-10
{
    margin-left: 83.33333333%;
}
.col-xs-offset-9
{
    margin-left: 75%;
}
.col-xs-offset-8
{
    margin-left: 66.66666667%;
}
.col-xs-offset-7
{
    margin-left: 58.33333333%;
}
.col-xs-offset-6
{
    margin-left: 50%;
}
.col-xs-offset-5
{
    margin-left: 41.66666667%;
}
.col-xs-offset-4
{
    margin-left: 33.33333333%;
}
.col-xs-offset-3
{
    margin-left: 25%;
}
.col-xs-offset-2
{
    margin-left: 16.66666667%;
}
.col-xs-offset-1
{
    margin-left: 8.33333333%;
}
.col-xs-offset-0
{
    margin-left: 0;
}
@media (min-width: 768px)
{
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12
    {
        float: left;
    }
    .col-sm-12
    {
        width: 100%;
    }
    .col-sm-11
    {
        width: 91.66666667%;
    }
    .col-sm-10
    {
        width: 83.33333333%;
    }
    .col-sm-9
    {
        width: 75%;
    }
    .col-sm-8
    {
        width: 66.66666667%;
    }
    .col-sm-7
    {
        width: 58.33333333%;
    }
    .col-sm-6
    {
        width: 50%;
    }
    .col-sm-5
    {
        width: 41.66666667%;
    }
    .col-sm-4
    {
        width: 33.33333333%;
    }
    .col-sm-3
    {
        width: 25%;
    }
    .col-sm-2
    {
        width: 16.66666667%;
    }
    .col-sm-1
    {
        width: 8.33333333%;
    }
    .col-sm-pull-12
    {
        right: 100%;
    }
    .col-sm-pull-11
    {
        right: 91.66666667%;
    }
    .col-sm-pull-10
    {
        right: 83.33333333%;
    }
    .col-sm-pull-9
    {
        right: 75%;
    }
    .col-sm-pull-8
    {
        right: 66.66666667%;
    }
    .col-sm-pull-7
    {
        right: 58.33333333%;
    }
    .col-sm-pull-6
    {
        right: 50%;
    }
    .col-sm-pull-5
    {
        right: 41.66666667%;
    }
    .col-sm-pull-4
    {
        right: 33.33333333%;
    }
    .col-sm-pull-3
    {
        right: 25%;
    }
    .col-sm-pull-2
    {
        right: 16.66666667%;
    }
    .col-sm-pull-1
    {
        right: 8.33333333%;
    }
    .col-sm-pull-0
    {
        right: auto;
    }
    .col-sm-push-12
    {
        left: 100%;
    }
    .col-sm-push-11
    {
        left: 91.66666667%;
    }
    .col-sm-push-10
    {
        left: 83.33333333%;
    }
    .col-sm-push-9
    {
        left: 75%;
    }
    .col-sm-push-8
    {
        left: 66.66666667%;
    }
    .col-sm-push-7
    {
        left: 58.33333333%;
    }
    .col-sm-push-6
    {
        left: 50%;
    }
    .col-sm-push-5
    {
        left: 41.66666667%;
    }
    .col-sm-push-4
    {
        left: 33.33333333%;
    }
    .col-sm-push-3
    {
        left: 25%;
    }
    .col-sm-push-2
    {
        left: 16.66666667%;
    }
    .col-sm-push-1
    {
        left: 8.33333333%;
    }
    .col-sm-push-0
    {
        left: auto;
    }
    .col-sm-offset-12
    {
        margin-left: 100%;
    }
    .col-sm-offset-11
    {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10
    {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9
    {
        margin-left: 75%;
    }
    .col-sm-offset-8
    {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7
    {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6
    {
        margin-left: 50%;
    }
    .col-sm-offset-5
    {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4
    {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3
    {
        margin-left: 25%;
    }
    .col-sm-offset-2
    {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1
    {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0
    {
        margin-left: 0;
    }
}
@media (min-width: 992px)
{
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12
    {
        float: left;
    }
    .col-md-12
    {
        width: 100%;
    }
    .col-md-11
    {
        width: 91.66666667%;
    }
    .col-md-10
    {
        width: 83.33333333%;
    }
    .col-md-9
    {
        width: 75%;
    }
    .col-md-8
    {
        width: 66.66666667%;
    }
    .col-md-7
    {
        width: 58.33333333%;
    }
    .col-md-6
    {
        width: 50%;
    }
    .col-md-5
    {
        width: 41.66666667%;
    }
    .col-md-4
    {
        width: 33.33333333%;
    }
    .col-md-3
    {
        width: 25%;
    }
    .col-md-2
    {
        width: 16.66666667%;
    }
    .col-md-1
    {
        width: 8.33333333%;
    }
    .col-md-pull-12
    {
        right: 100%;
    }
    .col-md-pull-11
    {
        right: 91.66666667%;
    }
    .col-md-pull-10
    {
        right: 83.33333333%;
    }
    .col-md-pull-9
    {
        right: 75%;
    }
    .col-md-pull-8
    {
        right: 66.66666667%;
    }
    .col-md-pull-7
    {
        right: 58.33333333%;
    }
    .col-md-pull-6
    {
        right: 50%;
    }
    .col-md-pull-5
    {
        right: 41.66666667%;
    }
    .col-md-pull-4
    {
        right: 33.33333333%;
    }
    .col-md-pull-3
    {
        right: 25%;
    }
    .col-md-pull-2
    {
        right: 16.66666667%;
    }
    .col-md-pull-1
    {
        right: 8.33333333%;
    }
    .col-md-pull-0
    {
        right: auto;
    }
    .col-md-push-12
    {
        left: 100%;
    }
    .col-md-push-11
    {
        left: 91.66666667%;
    }
    .col-md-push-10
    {
        left: 83.33333333%;
    }
    .col-md-push-9
    {
        left: 75%;
    }
    .col-md-push-8
    {
        left: 66.66666667%;
    }
    .col-md-push-7
    {
        left: 58.33333333%;
    }
    .col-md-push-6
    {
        left: 50%;
    }
    .col-md-push-5
    {
        left: 41.66666667%;
    }
    .col-md-push-4
    {
        left: 33.33333333%;
    }
    .col-md-push-3
    {
        left: 25%;
    }
    .col-md-push-2
    {
        left: 16.66666667%;
    }
    .col-md-push-1
    {
        left: 8.33333333%;
    }
    .col-md-push-0
    {
        left: auto;
    }
    .col-md-offset-12
    {
        margin-left: 100%;
    }
    .col-md-offset-11
    {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10
    {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9
    {
        margin-left: 75%;
    }
    .col-md-offset-8
    {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7
    {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6
    {
        margin-left: 50%;
    }
    .col-md-offset-5
    {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4
    {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3
    {
        margin-left: 25%;
    }
    .col-md-offset-2
    {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1
    {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0
    {
        margin-left: 0;
    }
}
@media (min-width: 1200px)
{
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12
    {
        float: left;
    }
    .col-lg-12
    {
        width: 100%;
    }
    .col-lg-11
    {
        width: 91.66666667%;
    }
    .col-lg-10
    {
        width: 83.33333333%;
    }
    .col-lg-9
    {
        width: 75%;
    }
    .col-lg-8
    {
        width: 66.66666667%;
    }
    .col-lg-7
    {
        width: 58.33333333%;
    }
    .col-lg-6
    {
        width: 50%;
    }
    .col-lg-5
    {
        width: 41.66666667%;
    }
    .col-lg-4
    {
        width: 33.33333333%;
    }
    .col-lg-3
    {
        width: 25%;
    }
    .col-lg-2
    {
        width: 16.66666667%;
    }
    .col-lg-1
    {
        width: 8.33333333%;
    }
    .col-lg-pull-12
    {
        right: 100%;
    }
    .col-lg-pull-11
    {
        right: 91.66666667%;
    }
    .col-lg-pull-10
    {
        right: 83.33333333%;
    }
    .col-lg-pull-9
    {
        right: 75%;
    }
    .col-lg-pull-8
    {
        right: 66.66666667%;
    }
    .col-lg-pull-7
    {
        right: 58.33333333%;
    }
    .col-lg-pull-6
    {
        right: 50%;
    }
    .col-lg-pull-5
    {
        right: 41.66666667%;
    }
    .col-lg-pull-4
    {
        right: 33.33333333%;
    }
    .col-lg-pull-3
    {
        right: 25%;
    }
    .col-lg-pull-2
    {
        right: 16.66666667%;
    }
    .col-lg-pull-1
    {
        right: 8.33333333%;
    }
    .col-lg-pull-0
    {
        right: auto;
    }
    .col-lg-push-12
    {
        left: 100%;
    }
    .col-lg-push-11
    {
        left: 91.66666667%;
    }
    .col-lg-push-10
    {
        left: 83.33333333%;
    }
    .col-lg-push-9
    {
        left: 75%;
    }
    .col-lg-push-8
    {
        left: 66.66666667%;
    }
    .col-lg-push-7
    {
        left: 58.33333333%;
    }
    .col-lg-push-6
    {
        left: 50%;
    }
    .col-lg-push-5
    {
        left: 41.66666667%;
    }
    .col-lg-push-4
    {
        left: 33.33333333%;
    }
    .col-lg-push-3
    {
        left: 25%;
    }
    .col-lg-push-2
    {
        left: 16.66666667%;
    }
    .col-lg-push-1
    {
        left: 8.33333333%;
    }
    .col-lg-push-0
    {
        left: auto;
    }
    .col-lg-offset-12
    {
        margin-left: 100%;
    }
    .col-lg-offset-11
    {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10
    {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9
    {
        margin-left: 75%;
    }
    .col-lg-offset-8
    {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7
    {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6
    {
        margin-left: 50%;
    }
    .col-lg-offset-5
    {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4
    {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3
    {
        margin-left: 25%;
    }
    .col-lg-offset-2
    {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1
    {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0
    {
        margin-left: 0;
    }
}

/* Layout browser style reset
***********************************************/
/* html and body
***********************************************/
/* Prevent text size adjustment */
html
{
    font-family: 'Open Sans', 'Helvetica', 'Verdana', 'Arial', sans-serif;
    font-size: 10px;

    height: auto !important;
    height: 100%;
    /* height hack */
    min-height: 100%;

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/**
 * - Reset 'body' margins
 * - Set common 'line-height' for 'body'
 * - Set better font rendering for webkit and firefox on Mac
 */
body
{
    font-size: 16px;
    line-height: 1.4;

    height: auto !important;
    height: 100%;
    /* height hack */
    min-height: 100%;
    margin: 0;

    color: #0d0d0d;
    background: #fff;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* сглаживание шрифтов в вебките */
    -webkit-font-smoothing: subpixel-antialiased;
}
/* Set box-sizing 'border-box' by default */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* Set display 'block' to html5 elements and 'inline-block' for media elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}
audio,
canvas,
progress,
video
{
    display: inline-block;
}
/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio,
canvas,
iframe,
progress,
img,
svg,
video
{
    vertical-align: middle;
}
/* Reset elements margins and padings */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul
{
    margin: 0;
}
/**
 * - Make 'img' to respect container borders
 * - Remove border from 'img' in link in IE 8-10
 */
img
{
    max-width: 100%;
    height: auto;

    border: 0;
}
/**
 * - Remove 'text-decoration' from links
 * - Remove the gray background color from active links in IE 10
 */
a
{
    text-decoration: none;

    background-color: transparent;
}
/* Transition for user action elements */
a,
input,
button,
select,
textarea
{
    -webkit-transition: .3s;
            transition: .3s;
}
a:hover,
a:active,
a:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus,
select:hover,
select:active,
select:focus,
textarea:hover,
textarea:active,
textarea:focus
{
    -webkit-transition: .1s;
            transition: .1s;
}
/**
 * - Prevent modern browsers from displaying 'audio' without controls
 * - Remove excess height in iOS 5 devices
 */
audio:not([controls])
{
    display: none;

    height: 0;
}
/**
 * - Address [hidden] styling not present in IE 8-10
 * - Hide the 'template' element in IE 8-11, Safari and Firefox < 22
 */
[hidden],
template
{
    display: none;
}
/* Set bold font weight for all browsers */
b,
strong
{
    font-weight: bold;
}
/* Set font size for 'small' element */
small
{
    font-size: 80%;
}
/* Prevent 'sub' and 'sup' affecting 'line-height' in all browsers */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}
sup
{
    top: -.5em;
}
sub
{
    bottom: -.25em;
}
/* Reset 'blockquote' appereance */
blockquote,
q
{
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}
/* Remove pseudo element in buttons in Firefox */
::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
/**
 * Remove ugly outline from focused elements,
 * don't remember to add your own focus styles
 */
:active:focus,
:hover:focus
{
    outline: 0;
}
/* Correct overflow not hidden in IE 9-11 */
svg:not(:root)
{
    overflow: hidden;
}
/* Normalize 'hr' appereance */
hr
{
    height: 0;
}
/* Contain overflow in all browsers */
pre
{
    overflow: auto;
}
/* Address odd 'em'-unit font size rendering in all browsers */
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}
/**
 * - Correct color not being inherited
 * - Correct font properties not being inherited
 * - Address margins set differently in Firefox 4+, Safari, and Chrome
 */
button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}
/* Address 'overflow' set to 'hidden' in IE 8-11 */
button
{
    overflow: visible;
}
/**
 * - Address inconsistent 'text-transform' inheritance for 'button' and 'select'.
 * - All other form control elements do not inherit 'text-transform' values.
 * - Correct 'button' style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * - Correct 'select' style inheritance in Firefox.
 */
button,
select
{
    text-transform: none;
}
/**
 * - Correct inability to style clickable 'input' types in iOS
 * - Set pointer cursor appearance for buttons
 * - Disable user selection of text
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-appearance: button;
}
/* Default cursor for disabled elements */
[disabled]
{
    cursor: default;
}
/* Address Firefox 4+ setting 'line-height' on 'input' using '!important' in the UA stylesheet */
input
{
    line-height: normal;
}
/* Remove excess padding in IE 8-10 */
input[type='checkbox'],
input[type='radio']
{
    padding: 0;
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons.
 * For certain
 * - 'font-size' values of the 'input', it causes the cursor style of the
 * - decrement button to change from 'default' to 'text'
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}
/**
 * - Address 'appearance' set to 'searchfield' in Safari and Chrome
 */
input[type='search']
{
    -webkit-appearance: textfield;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has padding (and 'textfield' appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
/**
 * - Correct 'color' not being inherited in IE 8-11
 * - Remove padding so people aren't caught out if they zero out fieldsets
 */
legend
{
    padding: 0;

    border: 0;
}
/**
 * - Set default block behavior to fieldset
 */
fieldset
{
    min-width: 0;
}
/* Remove default vertical scrollbar in IE 8-11 */
textarea
{
    overflow: auto;
}
/**
 * Don't inherit the 'font-weight' (applied by a rule above)
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X
 */
optgroup
{
    font-weight: bold;
}
/* Remove most spacing between table cells */
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th
{
    padding: 0;
}
*::-webkit-input-placeholder
{
    color: #666;
}
*:-moz-placeholder
{
    color: #666;
}
*::-moz-placeholder
{
    color: #666;
}
*:-ms-input-placeholder
{
    color: #666;
}
input[placeholder]
{
    text-overflow: ellipsis;
}
input::-moz-placeholder
{
    text-overflow: ellipsis;
}
input:-moz-placeholder
{
    text-overflow: ellipsis;
}
input:-ms-input-placeholder
{
    text-overflow: ellipsis;
}
body input:required,
body textarea:required
{
    /*border: 0px transparent solid;*/
    outline: none;
}
body input:required:invalid,
body textarea:required:invalid
{
    /*border: 0px transparent solid;*/
    outline: none;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid
{
    /*border: 0px transparent solid;*/
    outline: none;
}
body input:required:invalid,
body textarea:required:invalid
{
    /*border-color: yellow;*/
    border: 0 transparent solid;
}
body input:required:valid,
body textarea:required:valid
{
    border-color: #1a8d07;
}
.clearfix:after,
.clearfix
{
    clear: both;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}
.text-justify
{
    text-align: justify;
}
.text-nowrap
{
    white-space: nowrap;
}
.text-lowercase
{
    text-transform: lowercase;
}
.text-uppercase
{
    text-transform: uppercase;
}
.text-capitalize
{
    text-transform: capitalize;
}

html.js .loader
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: none repeat scroll 0 0 #fff;
}
html.js .loader_inner
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;

    background-color: #fff;
    background-image: url('../../img/preloader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    line-height: 1.4;
}
/* выделение текста */
::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}
::selection
{
    background: #b3d4fc;
    text-shadow: none;
}
/* Сообщение об устаревшем браузере */
.browsehappy
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}
a
{
    color: #000;
    border: none;
    outline: none;
}
a:visited,
a:hover,
a:focus,
a:active
{
    text-decoration: none;

    color: #000;
    border: none;
    outline: none;
}
ul,
ol
{
    list-style-type: none;
}
/* Display Flex */
/* контейнер для выравниваемых элементов */
.flex-container
{
    /* Направление главной оси flex-контейнера, row по умолчанию, слева направо (в rtl справа налево) */
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;
        flex-direction: row;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* выравнивание по главной оси, блоки равномерно распределены вдоль главной оси */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* выравнивание по поперечной оси, блоки располагаются в центре поперечной оси */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}
/* Popup form */
.popup-overlay
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;

    width: 100%;
    height: 100%;

    cursor: default;

    background-color: rgba(0, 0, 0, .9);
}
.popup-form
{
    position: fixed;
    z-index: 9999;
    top: 45%;
    left: 50%;

    display: none;

    width: 360px;
    padding: 20px 30px 30px;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    background: #131313;

     -khtml-border-radius: 8px;
}
.popup-form .close-popup
{
    font-size: 20px;

    position: absolute;
    top: 5px;
    right: 10px;

    cursor: pointer;
    -webkit-transition: all .3s;
            transition: all .3s;

    color: #10cfbd;
}
.popup-form .close-popup:hover
{
    color: #0dae9f;
}
.popup-message, .popup-message-register
{
    color: #fff;
    position: fixed;
    z-index: 9999;
    top: 45%;
    left: 50%;

    display: none;

    width: 50%;
    padding: 20px 30px 30px;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.googleplay-link, .appstore-link {
    position:relative;
    width: 195px;
    height: 63px;
    float: left;
}
.appstore-link {
    margin-left: 5px;
}
.googleplay-link img, .appstore-link img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.appstore-link img.inactive:hover, .googleplay-link img.inactive:hover {
    opacity:0;
}

.registration-form h2
{
    margin-bottom: 10px;
    font-size: 32px;
    color: #fff;
}
.registration-form input
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 20px;

    display: block;

    width: 100%;
    height: 52px;
    margin-bottom: 16px;
    padding: 17px;

    color: #adadad;
    border: none;
    /*-webkit-border-radius: 8px 7px 7px 8px;*/
            /*border-radius: 8px 7px 7px 8px;*/
    background-color: #fff;
}
.registration-form .registration-button
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 20px;

    width: 100%;
    height: 52px;

    color: #000;
    border: none;
    background-color: #10cfbd;
}
.registration-form .registration-button:hover
{
    background-color: #0dae9f;
}
/* Calendar */
.calendar-wrapper
{
    text-align: center;
}
.calendar
{
    /* float: right;
    margin: 262px 0 0; */
    position: absolute;
    right: 20px;
    bottom: -12px;
    height: 370px;
    display: inline-block;
}
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th
{
    margin: 0;
    padding: 0;

    border-spacing: 0;

    border: none;
}
.ui-datepicker
{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 20px;

    display: none;

    cursor: default;
    text-transform: uppercase;

    background: transparent;
}
.ui-datepicker-header
{
    position: relative;

    padding-bottom: 10px;
}
.ui-datepicker-title
{
    text-align: center;
}
.ui-datepicker-month
{
    font-size: 48px;

    position: relative;

    display: block;

    letter-spacing: -2px;

    color: #fff;
}
.ui-datepicker-year
{
    font-size: 23px;

    color: #fff;
}
.ui-datepicker-prev,
.ui-datepicker-next
{
    position: absolute;
    z-index: 10;
    top: 30px;

    cursor: pointer;
}
.ui-datepicker-prev
{
    left: 30px;
}
.ui-datepicker-next
{
    right: 30px;
}
.ui-datepicker-prev span,
.ui-datepicker-next span
{
    display: block;

    width: 7px;
    height: 13px;

    text-indent: -9999px;
}
.ui-datepicker-prev span
{
    background: url(../../img/calendar-left-arrow.png) no-repeat;
}
.ui-datepicker-next span
{
    background: url(../../img/calendar-right-arrow.png) no-repeat;
}
.ui-datepicker-calendar th
{
    font-size: 17px;
    font-weight: normal;

    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;

    color: #10cfbd;
}
.ui-datepicker-calendar td
{
    line-height: 40px;

    padding: 0 10px;

    text-align: center;
}
.ui-datepicker-calendar .ui-state-default
{
    line-height: 36px;

    display: block;

    width: 34px;
    height: 34px;

    color: #626262;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    outline: none;
}
.ui-datepicker-calendar .ui-state-default:hover
{
    color: #10cfbd;
}
.ui-datepicker-calendar .ui-state-selected {
    color: #fff !important;
}
.ui-datepicker-calendar .ui-state-default.ui-state-active
{
    color: #000;
    background-color: #10cfbd;
    /*background: red;*/
}
.ui-datepicker-calendar .ui-state-today-not-highlight a {
    color: #626262 !important;
    background: none !important;
}
.ui-datepicker-calendar .ui-state-active-game a {
    color: #000;
    background-color: #10cfbd;
}
.ui-datepicker-calendar .ui-state-active-game a:hover {
    color: #000;
    background-color: #10cfbd;
}
.ui-datepicker-calendar .ui-state-highlight123 {
    display: none !important;
}
.ui-datepicker-calendar .ui-state-highlight a
{
    color: #626262;
    border: 1px solid #10cfbd;
    background: none;
}
.ui-datepicker-calendar .ui-state-highlight a:hover  {
    color: #000;
    background-color: #10cfbd;
}
.ui-datepicker-other-month .ui-state-default:hover
{
    color: #565656;
}
/* Page navigation */
.page-nav
{
    float: right;

    margin-top: 24px;
    margin-right: 60px;
    /* position: fixed;
    right: 15px;
    top: 0;
    z-index: 10; */
}
.page-nav.sticked
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 15px;
}
.page-nav li
{
    display: inline-block;

    margin-right: 54px;
}
.page-nav li a
{
    font-size: 20px;

    padding-bottom: 1px;
}
.page-nav li:last-child
{
    margin-right: 0;
}
.page-nav li:hover a
{
    color: #10cfbd;
    border-bottom: 3px solid #10cfbd;
}
.page-nav li.active a
{
    color: #10cfbd;
    border-bottom: 3px solid #10cfbd;
}
.nav-toggle::before
{
    font-family: san-serif;
    font-size: 40px;

    position: relative;
    top: 0;
    left: 0;

    width: 60px;
    height: 55px;



    content: '≡';
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-indent: -300px;
    text-transform: none;

    color: #10cfbd;
}
.nav-toggle.active::before
{
    font-family: 'SFUIDisplay-Light', sans-serif;

    content: 'x';
}
/* #nav-toggle-custom::before {
    color: #10cfbd;
    content: "≡";
    cursor: pointer;
    font-size: 40px;
    font-family: san-serif;
    left: 0;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    top: 0;
    height: 55px;
    position: relative;
    text-decoration: none;
    text-indent: -300px;
    width: 60px;
}
.nav-toggle-custom.active::before {
    content: "x";
    // font-family: @sf-regular;
    font-family: @sfui-light;
} */
.side-nav
{
    position: fixed;
    z-index: 10;
    top: 45%;
    right: 26px;
}
.side-nav li
{
    margin-bottom: 10px;
}
.side-nav li a
{
    display: block;

    width: 12px;
    height: 12px;

    border: none;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    outline: none;
    background: #10cfbd;
}
.side-nav li.active a
{
    border: 1px solid #10cfbd;
    background-color: transparent;
}
.side-nav li:hover a
{
    border: 1px solid #10cfbd;
    background-color: transparent;
}
.sm-visible
{
    display: none;
}
/* Header */
header
{
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;

    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), color-stop(#ebebeb), to(#f5f5f5));
    background-image: linear-gradient(to top, #f3f3f3, #ebebeb, #f5f5f5);
    -webkit-background-size: cover;
            background-size: cover;
}
header .banner
{
    margin-top: 142px;
}
header .banner .banner-image
{
    text-align: right;
}
header .banner .banner-content
{
    font-family: 'SFUIDisplay-Light', sans-serif;

    margin: 116px 0 0 24px;
}
header .banner .banner-content h1
{
    font-size: 63px;
    line-height: 1.4;

    display: inline-block;

    padding: 0 18px;

    text-transform: uppercase;

    color: #fff;
    background: #10cfbd;
}
header .banner .banner-content p
{
    font-size: 50px;
    line-height: 1.4;

    padding: 0 0 60px 105px;
}
.rules
{
    position: relative;

    padding-top: 88px;

    background: #f5f5f5;
}
.rules .divider
{
    position: absolute;
    top: 37px;
    left: 50%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.rules .left
{
    padding-right: 102px;
}
.rules .right
{
    padding-left: 137px;
}
.rules .rule-icon
{
    padding-bottom: 64px;
}
.rules .rule-content h2
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 34px;
    line-height: 1.4;

    display: inline-block;

    padding: 0 8px;

    text-transform: uppercase;

    color: #fff;
    background: #10cfbd;
}
.rules .rule-content p
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 25px;
    line-height: 1.4;

    margin: 5px 0 48px;

    color: #222;
}
.rules .small-visible
{
    display: none;
}
.rules .small-visible .rule
{
    width: 86%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.rules .small-visible .rule div
{
    display: block;
    float: none;

    text-align: left;
}
.rules .small-visible .rule div.content h2
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 52px;
    line-height: 1.4;

    display: inline-block;

    padding: 0 18px;

    text-transform: uppercase;

    color: #fff;
    background: #10cfbd;
}
.rules .small-visible .rule div.content p
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 32px;
    line-height: 1.4;

    margin: 5px 0 10px;

    color: #222;
}
.rules .small-visible .rule div:first-child
{
    padding: 0 0 25px;
}
.rules .small-visible .rule div:last-child
{
    padding: 0;
}
.rules .small-visible .rule:nth-child(2) div:first-child,
.rules .small-visible .rule:nth-child(4) div:first-child,
.rules .small-visible .rule:nth-child(2) div:last-child,
.rules .small-visible .rule:nth-child(4) div:last-child
{
    text-align: right;
}
.rules .rules-list .rule
{
    padding-bottom: 64px;
}
.rules .rules-list .rule div
{
    float: left;
}
.rules .rules-list .rule div:first-child
{
    width: 45%;

    text-align: right;
}
.rules .rules-list .rule div:last-child
{
    width: 55%;
    padding: 0 0 0 10%;

    text-align: left;
}
.rules .rules-list .rule div.content h2
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 34px;
    line-height: 1.4;

    display: inline-block;

    padding: 0 8px;

    text-transform: uppercase;

    color: #fff;
    background: #10cfbd;
}
.rules .rules-list .rule div.content p
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 25px;
    line-height: 1.4;

    margin: 5px 0 0 0;

    color: #222;
}
.registration
{
    padding: 96px 0 64px;

    background-image: url('../../img/registration.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}
.registration .reg-descr
{
    font-family: 'SFUIDisplay-Light', sans-serif;

    color: #fff;
}
.registration .reg-descr h2
{
    font-size: 63px;
    font-weight: 100;
    line-height: 1.4;
    height: 176px;
}
.registration .reg-descr .address
{
    font-size: 33px;
    font-weight: 100;
    line-height: 1.4;
    min-height: 100px;
    margin: 27px 0 90px;
}
.registration .reg-descr .time
{
    font-size: 84px;
    font-weight: 100;
}
.registration .show-register
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 28px;

    width: 261px;
    height: 68px;
    margin: 60px 0 0;
    display: block;

    color: #222;
    border: none;
    background-color: #10cfbd;
}
.registration .show-register:hover
{
    background-color: #0dae9f;
}
.contacts
{
    background: #f5f5f5;
}
.contacts .side-contacts
{
    padding-top: 68px;

    background: #efefef;
}
.contacts .side-contacts .contact-wrapper
{
    display: block;
}
.contacts .contact-icon
{
    /* Направление главной оси flex-контейнера, row по умолчанию, слева направо (в rtl справа налево) */
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;
        flex-direction: row;

    width: 102px;
    height: 102px;
    margin: 0 auto;

    border: 1px solid #10cfbd;
    -webkit-border-radius: 100%;
            border-radius: 100%;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* выравнивание по главной оси, блоки равномерно распределены вдоль главной оси */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* выравнивание по поперечной оси, блоки располагаются в центре поперечной оси */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    .contacts .contact-icon
    {
        line-height: 102px;

        display: block;

        text-align: center;
    }
}
.contacts .contact-content
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 25px;

    margin: 24px 0 57px;

    color: #b0b0b0;
}
.contacts .contact-content.share-icons
{
    margin: 20px 0 57px;
}
.contacts .form-wrapper
{
    /* Направление главной оси flex-контейнера, row по умолчанию, слева направо (в rtl справа налево) */
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;
        flex-direction: row;

    padding: 200px 0 0;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* выравнивание по главной оси, блоки равномерно распределены вдоль главной оси */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* выравнивание по поперечной оси, блоки располагаются в центре поперечной оси */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    /* Safari 3 */
    /* Safari 3 */
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    .contacts .form-wrapper
    {
        display: table;

        margin: 0 auto;
    }
}
.contacts .form-wrapper h2
{
    font-size: 42px;

    margin-bottom: 28px;
}
.contacts .form-wrapper .data
{
    float: left;

    width: 284px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    .contacts .form-wrapper .data
    {
        display: inline-block;
        float: none;

        width: 284px ;
    }
}
form .required.error-validate {
    border: 1px solid #c60000;
}
.contacts .form-wrapper .message
{
    display: inline-block;

    width: 479px;
    margin-left: 17px;
}
.contacts .form-wrapper input
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 20px;

    display: block;

    width: 100%;
    height: 52px;
    margin-bottom: 16px;
    padding: 17px;

    color: #adadad;
    border: none;
    /*-webkit-border-radius: 8px 7px 7px 8px;*/
            /*border-radius: 8px 7px 7px 8px;*/
    background-color: #fff;
}
.contacts .form-wrapper .callback-message
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 20px;

    display: block;

    width: 100%;
    height: 122px;
    margin-bottom: 16px;
    padding: 17px;

    resize: none;

    color: #adadad;
    border: none;
    /*-webkit-border-radius: 7px;*/
            /*border-radius: 7px;*/
    background-color: #fff;
}
.contacts .form-wrapper .send-message
{
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 22px;

    width: 100%;
    height: 52px;

    color: #fff;
    border: none;
    background-color: #10cfbd;
}
.contacts .form-wrapper .send-message:hover
{
    background-color: #0dae9f;
}
